# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
ENV/
*.env

# Flask specific files
instance/
*.sqlite3
*.db

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Coverage reports
.coverage
coverage.xml
htmlcov/
*.cover

# Jupyter Notebook files
.ipynb_checkpoints/

# Static files
static/css/*.css.map
static/js/*.js.map
